
div > .left-pane, .middle-pane, .right-pane {
    display: inline-block;
    height: 500px;
}
body {
    width: 100%;
    margin: 0 20px;
    text-align: center;
}
.container {
    margin: 20px 0px;
    width: 100%;
}
.left-pane, .middle-pane, .right-pane {
    border: 3px solid black;
    width: 30%;
}
.contain {
    margin: 20px 0px;
    width: 97%;
    display: block;
    border: 3px solid black;
    background-color: purple;
    height: 200px;
    margin-right: 2%;
}
.left-pane {
    background-color: palevioletred;
    margin-right: 2%;
}
.middle-pane {
    background-color: green;
    margin-right: 2%;
}
.right-pane {
    background-color: orange;
    margin-right: 2%;
}